# App Configuration
HOSTNAME=0.0.0.0
SHOULD_SEED=true
DATABASE_URL=postgres://postgres:1234@db:5432/configuraciones?sslmode=disable

# Auth Configuration
AUTH_SECRET=loveslikesuicide
NEXTAUTH_URL=http://localhost:3000
AUTH_TRUST_HOST=true

# Database Configuration
POSTGRES_USER=postgres
POSTGRES_PASSWORD=1234
POSTGRES_DB=configuraciones